modules = ["nodejs-22", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Application"

[[workflows.workflow]]
name = "Start Application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 34201
externalPort = 6800

[[ports]]
localPort = 36463
externalPort = 3003

[[ports]]
localPort = 37161
externalPort = 3001

[[ports]]
localPort = 37929
externalPort = 5173

[[ports]]
localPort = 38197
externalPort = 3000

[[ports]]
localPort = 43271
externalPort = 5000

[[ports]]
localPort = 44279
externalPort = 6000

[[ports]]
localPort = 45207
externalPort = 8000

[[ports]]
localPort = 46527
externalPort = 4200

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]
